{% load static %}
<footer class="page-footer text-center text-md-left pt-0">

    <!--Footer Links-->
    <div class="container text-center text-md-left">
        <a href="#">דף הבית</a>
        <a href="#">אודות</a>
        <a href="#">צרו קשר</a>
        <a href="#">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>
        <hr>
        <div class="footer-copyright text-center text-lg-right">
            <p>© כל הזכויות שמורות ד"ר גלזר שבי גאולה - רפואה אסתטית 2018</p>
        </div>
    </div>

</footer>